# Database settings - save it as .env and put your real settings here
POSTGRES_DB=projects_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password_here
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
DB_SOURCE=local
# securety key
SECRET_KEY='<put generated secret key here>'
# server mode - in production switch to False
DEBUG=True
# database url for cloud db
DATABASE_URL='<put your cloud database url here>'
# settings for import from PWA - MS Project
PWA_URL='<put your PWA sharepoint url here>'